.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;

    &__text {
        flex-basis: 600px;
        cursor: default;

        h1 {
            font-size: 55px;
            font-weight: 700;
            line-height: 1.3;
            //text-transform: capitalize;
            margin-bottom: 20px;

            span {
                color: #fac15d;
            }
        }

        p {
            line-height: 1.5;
            margin-bottom: 20px;
        }

        &-badges {
            display: flex;
            align-items: center;

            a {
                width: 180px;

                &:first-child {
                    margin-right: 20px;
                }

                img {
                    margin-top: 4px;
                }
            }
        }
    }

    // TODO: add styles
    &__img {
        width: 540px;
        height: 521px;
        background-color: blue;
    }
}