*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}

ul,
li,
h1,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.page__wrap {
  height: 100vh;
  position: relative;
  z-index: 8;
}

.page__wrap::after {
  content: '';
  width: 100%;
  height: 100%;
  padding: 0;
  background: #fac15d;
  background: -webkit-gradient(linear, left bottom, left top, from(#faf75d), to(#3f51b5));
  background: -o-linear-gradient(bottom, #faf75d, #3f51b5);
  background: linear-gradient(0deg, #faf75d, #3f51b5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page__bg {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  z-index: 1;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  z-index: 9;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  color: white;
  letter-spacing: 1px;
  white-space: nowrap;
  text-decoration: none;
}

.header__logo img {
  margin-right: 10px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}

.description__text {
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
  cursor: default;
}

.description__text h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.description__text h1 span {
  color: #fac15d;
}

.description__text p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.description__text-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.description__text-badges a {
  width: 180px;
}

.description__text-badges a:first-child {
  margin-right: 20px;
}

.description__text-badges a img {
  margin-top: 4px;
}

.description__img {
  width: 540px;
  height: 521px;
  background-color: blue;
}

@media (min-width: 1024px) {
  .header__panel-lang {
    cursor: pointer;
  }
}