@font-face {
  font-family: 'AkzidenzGroteskPro';
  src: url("../font/AkzidenzGroteskPro-MdEx.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e2e2e2;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

ul,
li,
h1,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.main-button {
  padding: 16px 32px;
  background-color: #ffbf60;
  border-radius: 15px;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 50px;
}

.header__logo {
  font-family: 'AkzidenzGroteskPro', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #ffaa2d;
  text-decoration: none;
  margin-bottom: 65px;
}

.header__text-main {
  max-width: 900px;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0.28px;
  margin-bottom: 30px;
}

.header__text-sub {
  max-width: 600px;
  font-size: 24px;
  margin-bottom: 20px;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.preview__img {
  width: 570px;
}

.preview__location-list {
  width: 485px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9;
}

.preview__location-list li + li {
  margin-top: 20px;
}

.preview__location-list li {
  padding: 24px 32px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 20px 41px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 41px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(54px);
  backdrop-filter: blur(54px);
}

.preview__location-list span {
  display: block;
  white-space: nowrap;
}

.preview__location-list .preview__item {
  position: absolute;
  z-index: 9;
}

.preview__location-list .preview__item.item-first {
  top: 120px;
  left: 50%;
}

.preview__location-list .preview__item.item-second {
  top: 270px;
  right: 60%;
}

.preview__location-list .preview__item.item-third {
  top: 500px;
  left: 70%;
}

.preview__location-list .preview__item.item-fourth {
  top: 700px;
  right: 70%;
}

.preview__location-list .preview__address {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 7px;
}

.preview__location-list .preview__info {
  font-size: 18px;
}

@media (min-width: 1024px) {
  .header,
  .preview__location-list li {
    cursor: default;
  }
}